input,
textarea,
select {
  width: 100%;
  padding: var(--space-sm);
  margin-bottom: var(--space-sm);
  border-radius: var(--radius);
  border: 1px solid #334155;
  background-color: #020617;
  color: var(--text-main);
}
